.weatherLocation{
    font-size: 1.5rem;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherData{
    display: flex;
    align-items: center;
    justify-content: center;
}